<h3>Recent maps</h3>
<hr>
<table class="table table-striped">
<tr>
<th>Links</th>
<th>World name</th>
<th>User</th>
<th>Area</th>
<th>Visited</th>
<th>Uploaded at</th>
</tr>
{{#each data.maps}}
<tr>
<td>
<a href="/maps/{{ImageName}}">Image</a>
<a href="/map.html?id={{ID}}">Details</a>
</td>
<td>{{WorldName}}</td>
<td><a href="/profile.html?user={{Login}}">{{Login}}</a></td>
<td>{{Area}} ({{Width}}x{{Height}})</td>
<td>{{Visited}}</td>
<td>{{#date}}{{CreatedAt}}{{/date}}</td>
</tr>
{{/each}}
</table>
Total maps: {{data.mtotal}}
<br>
{{#if data.queue}}
<h3>Enqueued for processing</h3>
<hr>
<table class="table table-striped">
<tr>
<th>World name</th>
<th>User</th>
<th>Uploaded at</th>
</tr>
{{#each data.queue}}
<tr>
<td>{{WorldName}}</td>
<td><a href="/profile.html?user={{Login}}">{{Login}}</a></td>
<td>{{#date}}{{CreatedAt}}{{/date}}</td>
</tr>
{{/each}}
</table>
Total queue: {{data.qtotal}}
<br>
{{/if}}
<br>
<div class="btn btn-default" onclick="start()">Refresh data</div>
<br><br>
