<h3>Profile for user <b>{{user}}</b></h3>
<hr>
<table class="table table-striped">
<tr>
  <th>Since</th>
  <td>{{#date}}{{data.user.CreatedAt}}{{/date}}</td>
</tr>
<tr>
  <th>Status</th>
  {{#if data.user.RetiredAt}}
    <td><b>Retired</b> at {{#date}}{{data.user.RetiredAt}}{{/date}}</td>
  {{else}}
    <td><b>Active</b></td>
  {{/if}}
</tr>
<tr>
  <th>Maps</th>
  {{#if data.maps}}
    <td>Uploaded {{data.maps.length}} map(s).</td>
  {{else}}
    <td>No maps uploaded.</td>
  {{/if}}
</tr>
</table>
{{#if data.maps}}
<h4>Uploaded maps</h4>
<table class="table table-striped">
<tr>
<th>Links</th>
<th>World name</th>
<th>Area</th>
<th>Visited</th>
<th>Uploaded at</th>
</tr>
{{#each data.maps}}
<tr>
<td>
<a href="/maps/{{ImageName}}">Image</a>
<a href="/map.html?id={{ID}}">Details</a>
</td>
<td>{{WorldName}}</td>
<td>{{Area}} ({{Width}}x{{Height}})</td>
<td>{{Visited}}</td>
<td>{{#date}}{{CreatedAt}}{{/date}}</td>
</tr>
{{/each}}
</table>
{{/if}}
