!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %title Overmapper - Browse
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'}/
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'}/
    %script{src: 'https://code.jquery.com/jquery-2.1.3.min.js'}
    %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.runtime.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'}
    %style
      != css :common
    %script
      != js :error_template
      != js :browse_template
      != js :vars
      != js :common
      != js :browse
  %body{onload: 'start()'}
    .navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{'data-target': '.navbar-collapse', 'data-toggle': 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/info.html'} Overmapper
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: '/info.html'} Info
            %li.active
              %a{href: '/browse.html'} Browse
            %li
              %a{href: '/upload.html'} Upload
            %li
              %a{href: '/profile.html'} Profile
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: 'https://github.com/drbig/omapp', target: '_blank'} About
    .container
      %h3 Browse all maps
      %hr
      %div.btn-group{role: 'group'}
        %a.btn.btn-default{id: 'by_date', onclick: 'filter("by_date")'} by Date
        %a.btn.btn-default{id: 'by_area', onclick: 'filter("by_area")'} by Area
        %a.btn.btn-default{id: 'by_visited', onclick: 'filter("by_visited")'} by Visited
      %br
      %br
      #content
    .container
      = partial :footer
