!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %title Overmapper - Upload maps
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'}/
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'}/
    %link{rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.min.css'}/
    %script{src: 'https://code.jquery.com/jquery-2.1.3.min.js'}
    %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.runtime.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'}
    %style
      != css :common
    %script
      != vars
      != js :error_template
      != js :logreg_template
      != js :common
      != js :upload
  %body{onload: 'start()'}
    .navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{'data-target': '.navbar-collapse', 'data-toggle': 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/info.html'} Overmapper
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: '/info.html'} Info
            %li
              %a{href: '/browse.html'} Browse
            %li.active
              %a{href: '/upload.html'} Upload
            %li
              %a{href: '/profile.html'} Profile
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: 'https://github.com/drbig/omapp', target: '_blank'} About
    .container
      %h3 Upload your maps
      %hr
      .panel.panel-default
        .panel-heading.panel-success How to do it correctly
        .panel-body
          Locate your save folder and look inside for files whose names end with '.seen.X.Y',
          where X Y are integer numbers. The first part of the file name (e.g. '#TWFyaW8gTWVuZG96YQ==')
          is character 'id'. There is no (easy) way to tell to which character such a file belongs.
          You should upload all files for a single 'id' in one go to get a full map.
          %br
          %br
          You can put whatever you want in the world description, but 'World name - Character name'
          (plus maybe some notes) is the encouraged format.
      %form.form-inline{id: 'upload', role: 'form'}
        .form-group
          %input.form-control{id: 'worldname', type: 'text', placeholder: 'World description'}
        .form-group
          %input.btn.btn-default{id: 'files', type: 'file', multiple: 'true'}
        .btn.btn-primary{onclick: 'upload()'} Upload
      %br
      #umsg
        Remember to select seen files for a single character only.
      %br
      #progressbar
      %br
    #content.container
    .container
      = partial :footer
